@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}

.font-mono-caps {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.punk-sprite {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: url("/punks.png");
}
